/* style.css */
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.inputs-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 50px;
}

.outputs-row {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputs-column {
  display: flex;
  flex-direction: column;
}

.timestamps-column {
  display: flex;
  flex-direction: column;
}

.download-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-image: url("./images/PAM_Talks_Logo_Square_.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}

.header {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.big-text {
  font-size: 100px;
  font-weight: bold;
}

.fancy-text {
  font-family: "Dancing Script", cursive;
}

h1 {
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 50px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-content {
  display: inline;
  text-align: left;
  margin-bottom: 50px;
}

.timestamps-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 50px;
  text-align: center;
  margin-left: 25px;
}

.timestamps-container ul {
  list-style-type: none;
  padding: 0;
}

.timestamps-container li {
  margin-bottom: 5px;
}

.file-upload-container {
  margin-bottom: 5px;
}

.file-input {
  margin-right: 10px;
}

.general-button {
  padding: 6px 12px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 15px 15px;
}

input[type="file"] {
  display: none;
}

.file-upload-button {
  padding: 6px 12px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 15px 15px;
}
