/* style.css */
body {
  background-color: black;
  color: white;
}

.header-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url("./images/PAM_Talks_Logo_Square_.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}

.header {
  position: absolute;
  width: 100vw;
  top: 30px;
  z-index: 1;
  color: white;
  font-size: 30px;
  text-align: center;
  min-width: 400px;
}

.big-text {
  font-size: 120px;
  font-weight: bold;
}

.small-text {
  font-size: 10px + 1vw;
}

.small-text-special {
  font-size: 10px + 1vw;
}

.fancy-text {
  font-family: "Dancing Script", cursive;
  font-size: 5px + 2vw;
}

@media (max-width: 1000px) {
  .small-text {
    display: none;
  }
}

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.inputs-row {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 50px;
}

.outputs-row {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputs-column {
  display: flex;
  flex-direction: column;
}

.timestamps-column {
  display: flex;
  flex-direction: column;
}

.download-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content {
  position: relative;
  display: inline;
  min-width: 400px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.timestamps-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 50px;
  text-align: center;
  margin-left: 25px;
}

.timestamps-container ul {
  list-style-type: none;
  padding: 0;
}

.timestamps-container li {
  margin-bottom: 5px;
}

.file-upload-container {
  margin-bottom: 5px;
}

.file-input {
  margin-right: 10px;
}

.file-list {
  display: inline;
}

.general-button {
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 15px 15px;
}

.x-button {
  margin: 15px 15px;
  font-weight: bolder;
}

input[type="file"] {
  display: none;
}
